<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="hibernate.connection.username">chun0057</property>

		<property name="hibernate.connection.password">Yhmj5246</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>

		<property name="current_session_context_class">thread</property>
	</session-factory>
</hibernate-configuration>